body {
  background-image: url("../images/racingstripeBG.png");
  color: khaki;
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
}

header {
  background-color: black;
  color: khaki;
  border-radius: 18px;
  border: 8px ridge khaki; 
  height: 250px;
  margin: 20px 20px 40px 20px; 
}

header div {
  color: darkred;
  padding: 0 25px 20px 50px;
  display: inline-block;
  border-bottom: 3px solid;

}
 header h2 {
  color: darkred;
  margin-bottom: 25px;
  padding: 0 0 0 50px;
  display: inline-block;
  border-bottom: 3px solid khaki;
  border-bottom-left-radius: 18px;
}

header nav {
  justify-content: flex-end;
  margin: 20px;
}

header li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: khaki;
  list-style-type: none;
}


.info {
  text-align: left;
  background-color: black;
  display: block;
  margin: 20px 20px 40px 20px;
  border-radius: 18px;
  border: 8px ridge khaki; 
}

.info p {
  /* text-align: left; */
  line-height: 1.7;
  color: khaki;
  width: 98;
  font-size: 20px;
  margin: 25px;
}

section .info {
  display: block;
  flex-direction: row;
  margin: 20px 20px 40px 20px; 
}

.section-title {
  font-size: 55px;
  color: darkred;
  margin-top: 25px; 
  padding: 0 25px 20px 50px;
  display: inline-block;
  border-bottom: 3px solid;
  border-bottom-left-radius: 18px;
}

.primary-border {
  border-color: khaki;
}

/* portfolio samples */
.project {
  background-color: khaki;
  color: black;
  border-radius: 10px;
  border: 8px ridge lightgray;
  margin: 20px;
  text-align: center;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 16px;
  width: 160px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px; 
}

.project:hover {
  background-color: black;
  color: khaki;
} 

/* REACH OUT STYLES START */
.contact {
  text-align: center;
  background: khaki;
  border: 3 solid dimgray;
}

#reach-out img {
  border: 8px ridge khaki;
  border-radius: 10px;
  height: 250px;
  margin-left: 25px;
  margin-bottom: 25px;
}
.contact-info {
  position: relative;
  display: flex;
  flex-direction: row;
  color: khaki;
}

.contact-info h3 {
  color: khaki;
  font-size: 32px;
  padding: 0 0 0 50px;
  text-align: center;
}

.contact-info .address {
  font-size: 20px;
  list-style: none;
}

.contact-info a {
  color: khaki;
}

footer {
  background: black;
  border-radius: 10px;
  border: 8px ridge khaki;
  margin: auto; 
  height: 75px;
  display: flex;
}

footer p {
  text-align: center;
  color: khaki;
  font-size: 20px;
  margin: auto;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}
