* {
  margin: 10px;
  
  
}

body {
  background-color: black;
  color: khaki;
  font-family: Helvetica, Arial, sans-serif;
}


header {
  padding: 20px 0 20px 0;
  background-color: dimgray;
  color: khaki;
  border-radius: 10px 10px 0 0;
  /* border: 3px solid khaki; */
}
 header h1 {
  font-weight: bold;
  font-size: 36px;
  background-color: dimgray;
  color: khaki;
  font-weight: lighter;
  margin: 0 10px 0 10px;
  display: inline;
  font-family: Helvetica, Arial, sans-serif;
}
header nav {
  flex: wrap;
  float: right;
 margin: 0 0 10px 0;
}
header li {
  display: inline;
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  color: khaki;
}

footer {
  background: dimgray;
  padding: 40px 35px;
  border-radius: 10px;
  border: 3px solid khaki;
}

footer h2 {
  display: inline;
  color: khaki;
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: khaki;
 
}

section {
  padding: 10px;
}
.project {
  display: flex-wrap;
  flex-wrap: wrap;
  width: 550px;
  height: 150;
  background-color: khaki;
  color: #39a6b2;
}

.hero {
  background-image: url("../images/Hatteraslighthoue.jpg");
  height: 100px;
  background-size: cover;
  margin: 0 10px 0 10px;
  border-radius: 0 0 10px 10px;
}
body div {
  border-color: khaki;
}
.info {
 border-radius: 10px;
 border: 3px solid khaki;
 text-align: left;
 background-color: dimgray;
 box-sizing: 200px;
 }

.info p {
  text-align: left;
  line-height: 1.7;
  color: khaki;
  width: 80%;
  font-size: 20px;
  margin: 25px;
}
div.project {
  display: inline;
  border-radius: 10px;
  width: 350;
  height: 500;
  display: flex;
  flex-direction: row;
}

.section-title {
  font-size: 55px;
  color: #024e76;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  display: inline-block;
  border-bottom: 3px solid;
}

.primary-border {
  border-color: khaki;
}

/* REACH OUT STYLES START */
.contact {
  text-align: center;
  background: dimgray;
  border: 3 solid khaki;
}

.contact h2 {
  color: khaki;
}


.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: white;
}

.contact-info h3 {
  color: khaki;
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}

.contact-info a {
  color: khaki;
}

